body{
    background-color: black;
    height: 100%;
    background-image: url(gamedesign/backgroundMain.png);
    
    animation: slide 15s linear infinite;
    position: static;
    
}
.divMain{
    background-color: aqua;
    max-height:300px;
    max-width: 600px;
    height: 300px;
    width: 600px;
    border-radius: 15px;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.imgPlay{
    
    padding: 1em;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.imgPlay:hover{
    height: 200%;
    width: 200%;
}
@keyframes slide{
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 0% 100%;
    }
    100%{
        background-position: 0% 0%;
    }
}